venv/
.env
__pycache__/
*.py[cod]
*$py.class
*.so

.gguf
.bin
.safetensors
.onnx
models/

data/lancedb_store/
data/*.db
data/*.db-wal
data/*.db-shm
*.sqlite
*.sqlite3

data/Approval_Note_*.docx
data/*.xlsx
*.log
infra/egress.log

#add frontend ignore
frontend/node_modules/
frontend/.output/
frontend/.nitro/
frontend/dist/
frontend/.vinxi/

.DS_Store
Thumbs.db
.vscode/
.idea/

backend/data/*.db
*.db
